body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: green;
    color: purple;

h1 {
    color: green;
}

h2 {
    color: green;
}

ul {
    line-height: 1.6;
}

a {
    color: green;
}
